.bounce {
 animation: bounce 1s ease-out forwards;
 animation-delay: 500ms;
}

@keyframes bounce {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
    transform: translateY(10px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(5px);
  }
}

.slide {
  animation: slide 500ms ease-out forwards;
}

@keyframes slide {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0px);
  }
}

/* GLOBAL */

html, body {
  font-family: 'Cousine', monospace;
  background: #a2ab58;
  letter-spacing: 1px;
}


/* Card */
.sliding-card {
  margin-top: 5px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px 0px #727a17;
  padding: 5px;
  margin-bottom: 10px;
  background: #bf9561;
  color: black;
}

#my-name,
.card-board-header {
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  letter-spacing: 5px;
}

#my-stats .row
{
  display: grid;
  justify-content: center;
  align-items: baseline;
}

.fa-map-marker {
  color: #e74c3c;
}

.fa-id-badge {
  color: #2c3e50;
}

.table td,
.table th {
  border: none !important;
  vertical-align: middle;
}

 /*Card Board*/

.card-board {
  background: #af8654;
  border-top-style: dashed;
  border-bottom-style: dashed;
  border-radius: 4px;
  border-width: thick;
  padding-top:25px;
  padding-bottom: 25px;
}

.card-board #badge {
    display: grid;
    justify-content: center;
    align-items: center;
}

.card-board i {
    background: #2980b9;
    height: 115px;
    width: 115px;
    border-radius: 100%;
    border-style: none;
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
/*    box-shadow: 0px 0px 10px 0px #2c3e50;*/
    box-shadow: 0px 0px 10px 0px #5b452b;
}