<footer>

  <div class="container-fluid text-center">
    <div class="row">

      <div class="col-sm-3">
        <a class="navbar-brand mr-0" href="#">SI</a>
      </div> <!-- .col -->

      <div class="col-sm-6">
        <ul class="list-unstyled">
          <li class="list-inline-item">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="list-inline-item">
            <a class="nav-link" href="#">About Me</a>
          </li>
          <li class="list-inline-item">
            <a class="nav-link" href="#">Portfolio</a>
          </li>
        </ul>
      </div> <!-- .col -->

      <div class="col-sm-3">
        <span class="small">COPYRIGHT &copy; 2018 Satoshi Iwako</span>
      </div> <!-- .col -->

    </div> <!-- row -->
  </div> <!-- .container-fluid -->

</footer>
